xcuserdata
.DS_Store
.idea
intermediates
AndroidFrameWork/lib_chromium/build
AndroidFrameWork/luakit/build
AndroidDemo/AsyncSocketTest/app/build
AndroidDemo/NotificationTest/app/build
AndroidDemo/OrmTest/app/build
AndroidDemo/ThreadTest/app/build
AndroidDemo/WeatherTest/app/build
generateDebugRFile
fileChanges
fileHashes
local.properties
**/libs
**/obj/
**/CMakeFiles/
**/outputs/
**/CMakeCache.txt
**/.cxx
**/.externalNativeBuild
*.o
