xcuserdata
.DS_Store
.idea
intermediates
LuaKitProject/AndroidFrameWork/lib_chromium/build
LuaKitProject/AndroidFrameWork/luakit/build
LuaKitProject/AndroidDemo/AsyncSocketTest/app/build
LuaKitProject/AndroidDemo/NotificationTest/app/build
LuaKitProject/AndroidDemo/OrmTest/app/build
LuaKitProject/AndroidDemo/ThreadTest/app/build
LuaKitProject/AndroidDemo/WeatherTest/app/build
LuaKitProject/src/Projects/openssl-1.1.1c/lib
generateDebugRFile
fileChanges
fileHashes
local.properties
**/libs/
**/build
**/**/obj/
**/DerivedData/
**/CMakeFiles/
**/outputs/
CMakeCache.txt
**/.cxx/
**/.externalNativeBuild
**/.gradle
*.o
*.a
*.d
*.iml
LuaKitProject/src/Projects/openssl-1.1.1c/test/
*.tmp
cmake_install.cmake
Makefile
configdata.pm
LuaKitProject/src/Projects/openssl-1.1.1c/configdata.pm
