<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Run base_unittests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>base.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>base_i18n.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>base_message_loop_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>base_prefs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>base_prefs_test_support.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>base_static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>base_unittests Support.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>base_unittests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>run_all_unittests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>test_support_base.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>test_support_perf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18A0EBC86371069B26DF9943</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A1D639953291CD5C62D7C11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20D744B6AFFA28EE5FBDDC9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5272CB5A73F54B4A0E227C3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6149A8C0622B1183D4B80F63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DA80616594BE10A8440EEB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72C432EA07BE4B75A965A2F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1C50C7CF1EDBCE1211E8E1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B78E79DD534E18A557220584</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C80C101ABE3DF5E2EC912E80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D880F8B527DD8D863FEFA62F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2939376BF18A8C79431EF8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1A65DC0AA24992BAE6B3A74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
