<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>gtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>gtest_main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>gtest_prod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1DD5FEFB7026680BCB3CD6F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>203C595AB0E93BB1CB960E12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2999131A71FAFE50515AD0ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91AEE18BC6BE44B44AACCDBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
